<div class="container-fluid">
  <% if @listing.blank? %>
    <h1>No listing matching your search, try again.</h1>
  <%else %>
    <% @listing.each do |listing| %>
      <div class="row">
        <div class="col productBloc">
          <h2 class="productTitle"><%= listing.title %></h2>
          <div class="divDateTag">
            <p class="productDate"><%= listing.created_at %></p>
            <div class="productTagDiv">
              <%= listing.category.name %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 productImgDiv">
              <!--<img src="/app/assets/images/laptop.png" class="productImg"/>-->
              <%= image_tag("laptop.png", class: "productImg") %>
            </div>
            <div class="col-sm-9">
              <p class="productDesc"><%= listing.description %>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <div class="productDivPrixBtn">
                <p class="productPrix">€ <%= listing.price %></p>
                <button class="btn btn-success productBtn" data-toggle="modal" data-target="#contactModal"><%= t("listings.contact_seller") %></button>
              </div>
            </div>
            <div class="col-sm-1"></div>
          </div>
        </div>
      </div>
    <% end %>
  <%end %>
</div>

<!-- Modal contact -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title modal-txt">Contact seller</h5>
        <button type="button" class="close" id="modal-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="textAreaContact" class="modal-txt">Your message</label>
          <textarea class="form-control" id="textAreaContact" rows="10"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Send</button>
      </div>
    </div>
  </div>
</div>
