<div class="container-fluid">
  <% if @posts.blank? %>
    <h1>No listing matching your search, try again.</h1>
  <%else %>
    <% @posts.each do |post| %>
      <div class="row">
        <div class="col productBloc">
          <h2 class="productTitle"><%= post.title %></h2>
          <div class="divDateTag">
            <p class="productDate"><%= post.created_at %></p>
            <div class="productTagDiv">
              <%= post.category.name %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 productImgDiv">
              <% if post.image.attached? %>
                <%= image_tag post.image, width: '250px', class: "productImg" %>
              <% else %>
                <div class="blank_img d_inlineb"></div>
              <% end %>
            </div>
            <div class="col-sm-9">
              <p class="productDesc"><%= post.description %></p>
              <div class="productDivPrixBtn">
                <p class="productPrix">€ <%= post.price %></p>
                <button class="btn btn-success productBtn" data-toggle="modal" data-target="#contactModal"><%= t("listings.contact_seller") %></button>
              </div>
            </div>
            <div class="col-sm-1"></div>
          </div>
        </div>
      </div>

      <!-- Modal contact -->
      <%= form_tag account_messages_path, method: :post, multipart: true do %>
        <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"><%= t("listings.contact_seller") %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label> <%= t("message.your_message") %>*</label><br>
                  <%= text_area_tag 'message[content]', nil, class: "form-control" %>
                  <%= hidden_field_tag 'message[post_id]', post.id %>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t("message.close") %></button>
                <%= submit_tag t("message.send"), class:'btn btn-success' %>
              </div>
            </div>
          </div>
        </div>
      <%end %>
    <% end %>
  <%end %>
</div>
