<body>
  <div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-9 logCol">
        <h2><%= t("passwordChange.title") %></h2>
        <%= form_for(resource, as: resource_name, html: {class: "logForm"}, url: password_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Send me reset password instructions", class: "btn btn-light passwordButton", id: "passwordButton" %>
          </div>

          <div class="row">
            <div class="col-10">
              <%= render "devise/shared/links" %>
            </div>
            <div class="col-1 logCol">
              <div class="actions">
                <%= f.submit "Log in", class: "btn btn-success logButton" %>
              </div>
            </div>
            <div class="col">
            </div>
          </div>

        <% end %>

        </div>
      <div class="col">
      </div>
    </div>
  </div>
<body>
