<body>
  <div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-9 logCol">
        <h2><%= t("login.title") %></h2>
        <%= form_for(resource, as: resource_name, html: {class: "logForm"}, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email, class: "logText" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :password, class: "logText" %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, class: "logText" %>
            </div>
          <% end %>

          <div class="row">
            <div class="col-10">
              <%= render "devise/shared/links" %>
            </div>
            <div class="col-1 logCol">
              <div class="actions">
                <%= f.submit "Log in", class: "btn btn-success logButton" %>
              </div>
            </div>
            <div class="col">
            </div>
          </div>

        <% end %>

        </div>
      <div class="col">
      </div>
    </div>
  </div>
<body>
