<!DOCTYPE html>
<html>
  <head>
    <title>SiteListings</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark" id="navbar">
      <a class="nav-brand" id="navTitle" href="#">Listings</a>
      <form class="form-inline">
        <button class="btn btn-light my-2 my-sm-0" type="button">Login</button>
        <select class="form-control" id="btnLang">
          <option selected>EN</option>
          <option>FR</option>
        </select>
        <button class="btn btn-success my-2 my-sm-0" type="button">Create my listing</button>
      </form>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
