<!DOCTYPE html>
<html>
  <head>
    <title>SiteListings</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark font-weight-bold text-white" id="navbar">
      <a class="nav-brand" id="navTitle" href="/">Listings</a>
      <form class="form-inline">
        <a class="nav-link text-white my-2 my-sm-0" href="/users/sign_in">>> Login</a>
        <select class="form-control" id="btnLang">
          <option selected value="en">EN</option>
          <option value="fr">FR</option>
        </select>
        <%= link_to "Create my listings", listings_path, class: "btn btn-success my-2 my-sm-0 bg-success" %>
      </form>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
